.sidePanel-open {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 400px;
  padding: 10px;
  transition: width 0.7s ease-in-out;
  background-color: rgba(156, 185, 218, 0.658);
  z-index: 1;
}

.sidePanel-closed {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 0px;
  padding-top: 10px;
  z-index: 1;
  transition: width 0.7s ease-in-out;
  background-color: rgba(156, 185, 218, 0.658);
}

.panelContent-open {
  padding: 10px;
  padding-top: 100px;
  opacity: 1;
  transition: opacity 1.7s ease-in-out;
  padding-bottom: 100px;
}

.panelContent-closed {
  padding-top: 100px;
  opacity: 0;
}

.sidePanel-toggle {
  position: absolute;
  left: 10px;
  height: 50px;
  width: 50px;
  z-index: 1;
  border-radius: 10px;
  background-color: rgb(42, 35, 146);
  color:rgba(237, 246, 252, 0.829);
  font-size: 130%;
  font-weight: bold;
}

.nav-padding {
  margin-top: 50;
  width: '100%';
  flex: 1;
}

.Collapsible {
  padding: 10px;
  margin-bottom: 30px;
  background-color: rgba(101, 97, 158, 0.945);
  border-radius: 10px;
  color:rgba(237, 246, 252, 0.829);
}

.Collapsible__trigger {
  font-size: 130%;
  cursor: pointer;
}

.NestedCollapsible {
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(77, 72, 156, 0.945);
  color:rgba(237, 246, 252, 0.829);
  font-size: 80%;
}

.datePicker {
  padding-bottom: 10px;
  align-content: center;
}

.selectedHours {
  text-align: center;
  font-size: 80%;
}

.timeRangeContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-bottom: 30px;
}

